@{
    ViewBag.Title = "Bienvenido";
}

<div class="jumbotron">
    <h1>Hotel 5 Estrellas</h1>
    <p class="lead">Bienvenido a la aplicacion de hotel de 5 estrellas que podra llevar registro de los huespedes, habitaciones, registros entre muchas otras cosas mas.</p>
   
</div>

