<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Modelo.Properties.Settings.hotel5ConnectionString"
            connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=hotel5;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>